<h1 class="text-center text-danger-emphasis mt-4">Welcome to Freddy's BBQ Joint! <i class="bi bi-fire text-danger"></i></h1>

<div class="container">
  <div class="row">
    <div [ngClass]="{'col-sm-8': true, 'col-sm-12': false}">

      @for (menuCategory of menuCategories$ | async; track menuCategory.id) {
        <h2 class="mt-5 text-primary">{{ menuCategory.title }}</h2>

        @for (menuItem of menuCategory.items; track menuItem.id) {

          <div class="card mt-3">
            <div class="card-body">
              <div class="row card-title fs-3">
                <div class="col-9">
                  {{ menuItem.title }}
                </div>
                <div class="col-3 text-secondary text-end fw-bold">
                  {{ menuItem.price | currency }}
                  <button class="btn btn-dark" >
                    <i class="bi bi-plus" (click)="addToCart(menuItem)"></i>
                  </button>
                </div>
              </div>

              <div class="row">
                <div class="col-3">
                  <img class="rounded float-start"
                       src="{{ menuItem.imageUrl }}"
                       style="width: 13em;"
                       alt="{{ menuItem.title }}">
                </div>
                <div class="col-6">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                </div>
              </div>
            </div>
          </div>
        }
      }

    </div>
    <div class="col-sm-4">
      <h2 class="mt-5 mb-3 text-secondary">Your Cart</h2>
        <app-cart></app-cart>
    </div>
  </div>
</div>
