<h2 class="mt-5 text-primary">Your Order</h2>

<div class="mt-2 container">
  <div class="row">
    <div class="col-6">
      <h3 class="text-secondary"><i class="bi bi-currency-dollar"></i> Your Payment</h3>

      <form class="row g-3" [formGroup]="billingForm">
        <div class="col-12">
          <label for="inputAddress" class="form-label">Name</label>
          <input type="text" required class="form-control" id="inputAddress" formControlName="name" placeholder="Frank U.">
        </div>
        <div class="col-12">
          <label for="inputAddress2" class="form-label">Street</label>
          <input type="text" required class="form-control" id="inputAddress2" formControlName="street" placeholder="Pennsylvania Avenue 1600">
        </div>
        <div class="col-md-8">
          <label for="inputCity" class="form-label">City</label>
          <input type="text" required class="form-control" id="inputCity" formControlName="city" placeholder="Washington">
        </div>
        <div class="col-md-4">
          <label for="inputZip" class="form-label">Zip</label>
          <input type="text" required class="form-control" id="inputZip" formControlName="zip" placeholder="12345">
        </div>
      </form>

    </div>
    <div class="col-6">
      <h3 class="text-secondary"><i class="bi bi-cup-hot-fill"></i> Your Treats</h3>
      @if (orderService.cart$ | async; as cart) {
        @if (cart.items.length > 0) {
          <div class="container text-start">
            @for (cartItem of cart.items; track cartItem.itemId) {
              <div class="row">
                <div class="col-9">
                  {{ cartItem.count }} x {{ cartItem.itemTitle }}
                </div>
                <div class="col-3 text-end">
                  {{ cartItem.total | currency }}
                </div>
              </div>
            }
            <div class="row text-start fw-bold" style="border-top: 3px solid white;">
              <div class="col-9">
                Total
              </div>
              <div class="col-3 text-end">
                {{ cart.total | currency }}
              </div>
            </div>
          </div>

        } @else {
          <a class="btn btn-secondary" routerLink="/"><i class="bi bi-skip-backward"></i> Back to order</a>
        }
      }
    </div>
  </div>
  <div class="row">
    <div class="col text-end mt-2">
      <a class="me-2 btn btn-secondary" routerLink="/"><i class="bi bi-cart-x-fill"></i> Cancel</a>
      <button class="btn btn-primary" [disabled]="!billingForm.valid" (click)="placeOrder()"><i class="bi bi-bag-check-fill"></i> Place Order!</button>
    </div>
  </div>
</div>



