<h2 class="mt-5 text-primary"><i class="bi bi-box2-heart"></i> Track Your Order</h2>

@if (delivery$ | async; as delivery) {
  @if (delivery.receivedAt) {
    <h3 class="mt-4">We got your order <kbd>{{ delivery.order.id }}</kbd> at <span class="text-primary">{{ delivery.receivedAt }}</span>!</h3>

    <div class="progress mt-4" role="progressbar" aria-label="Basic example"  aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar" [ngStyle]="{'width': delivery.progress + '%'}"></div>
    </div>
  }

  @switch (delivery.status) {
    @case ("Received") {
      <h3 class="mt-4 text-info">We received your order. <i class="bi bi-cart-check-fill"></i></h3>
    }
    @case ("In Preparation") {
      <h3 class="mt-4 text-danger-emphasis">We're busy cooking... <i class="bi bi-cup-hot-fill"></i></h3>
    }
    @case ("In Delivery") {
      <h3 class="mt-4 text-warning">It's on the road to you... <i class="bi bi-taxi-front-fill"></i></h3>
    }
    @case ("Delivered") {
      <h3 class="mt-4 text-success">We've delivered it. Enjoy! <i class="bi bi-check-square-fill"></i></h3>
    }
    @default {
      <h3 class="mt-4">It's currently in status <span class="text-info">{{ delivery.status }}</span></h3>
    }
  }
}
