@if (orderService.cart$ | async; as cart) {
  @if (cart.items.length > 0) {
    <div class="container text-start">
      @for (cartItem of cart.items; track cartItem.itemId) {
        <div class="row">
          <div class="col-9">
            {{ cartItem.count }} x {{ cartItem.itemTitle }}
          </div>
          <div class="col-3 text-end">
            {{ cartItem.total | currency }}
          </div>
        </div>
      }
      <div class="row text-start fw-bold" style="border-top: 3px solid white;">
        <div class="col-9">
          Total
        </div>
        <div class="col-3 text-end">
          {{ cart.total | currency }}
        </div>
      </div>
    </div>

    <button class="btn btn-secondary mt-4 me-2" (click)="orderService.reset()" type="submit"><i class="bi bi-trash"></i></button>
    <a routerLink="/checkout" class="btn btn-primary mt-4" type="submit"><i class="bi bi-cart"></i></a>
  } @else {
    <div class="alert alert-info" role="alert">
      Make your tasty order!
    </div>
  }
}
